.box-checkout{
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 25px;
    padding: 25px;
}
.box-checkout h3{
    margin-top: 0;
}
.box-checkout p{
    margin: 0;
}
.checkout-valores{
    display: flex;
    justify-content: space-between;
}
.checkout-button{
    margin-top: 180px;
}
